.cadastro {
    padding: 1em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;
    margin: auto;
    width: 700px;
}

.cadastro h1 {
    font-size: 1.5em;
}

.header {
    padding: 1em 2em;
}

.header svg {
    font-size: 1.5em;
    cursor: pointer;
}

@media(max-width: 700px) {
    .cadastro {
        width: 500px;
    }

    .cadastro button {
        font-size: .8em;
    }
}

@media(max-width: 500px) {
    .cadastro {
        width: 300px;
    }

    .cadastro button {
        font-size: .7em;
    }
}

@media(max-width: 300px) {
    .cadastro {
        width: 250px;
    }
}