.card {
    border-radius: 7px;
    padding: 1em 1.5em;
    width: fit-content;
    background-color: white;
/* Inclui bordas e padding no tamanho */
}

.info {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    margin-bottom: 1em;
}

.info img {
    width: 120px;
    object-fit: contain;
}

.content h2 {
    font-size: 1.35em;
    font-weight: 550;
    margin-bottom: .7em;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: .4em;
}

.item svg {
    margin-right: .3em;
}

.item p {
    font-size: .9em;
    font-weight: 400;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.widget {
    text-align: center;
    padding: .5em .8em;
    border: 1.7px solid rgb(219, 219, 219);
    border-radius: 10px;
}

.widget h3 {
    font-size: .8em;
    font-weight: 500;
}

.widget p {
    font-weight: 600;
    font-size: .85em;
}

.btns button {
    font-weight: 600;
    padding: 1em 2.5em;
    height: fit-content;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #5257F2;
    transition: .5s;
    box-shadow: 1px 2px 2px #1E81CE;
    cursor: pointer;
}

.btns button:hover {
    box-shadow: 1px 2px 2px #1E81CE;
    background-color: #1E81CE;
}